

.button {
  background-color: #ffffff;
  border: 7px solid black;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 33px;
  margin: 4px 2px;
  cursor: pointer;
  margin: 4px 2px;
  transition-duration: 0.4s;;
  color: black;
}

.button:hover {
  background-color: black;
  color: white;
}
.container {
  display: grid;
  column-gap: 50px;
  row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  /*background-color: rgb(31, 0, 236);*/
  padding: 10px;
}
.container > div {
  background-color: rgb(255, 255, 255);
  border: 7px solid black;
  border-radius: 20px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: black;
}